# Imports

In [48]:
import os

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# Definition du chemin des data

In [49]:
path_data = './data/formated/'

In [50]:
filename_clients = 'Client.csv'
path_data_clients = os.path.join(path_data, filename_clients)

# Creation du dataframe panda

In [51]:
df_clients = pd.read_csv(path_data_clients, sep=";")

In [52]:
df_clients

,Code_Client,Date_Creation,Secteur_Commercial,Secteur_Activite,CliNivSupp1,CliNivSupp2
0,00001,04/10/2012,1.0,DIVERS,NaN,NaN
1,00002,02/11/2011,40.0,N,G1047,G0021
2,00003,20/12/2012,0.0,DIVERS,NaN,NaN
3,00005,02/11/2011,70.0,FAB,NaN,NaN
4,00009,02/11/2011,40.0,N,G1079,G0052
...,...,...,...,...,...,...
10101,G1135,27/03/2017,91.0,NaN,G0070,NaN
10102,G1136,01/06/2017,91.0,NaN,G0014,NaN
10103,G1137,13/05/2020,91.0,N,NaN,NaN
10104,G1138,23/02/2021,NaN,NaN,G0002,NaN
10105,G1139,08/06/2021,NaN,NaN,G0071,NaN

In [53]:
df_clients.dtypes

Code_Client            object
Date_Creation          object
Secteur_Commercial    float64
Secteur_Activite       object
CliNivSupp1            object
CliNivSupp2            object
dtype: object

# Formattage des donnees

## Fichier Client

### Remplacer secteur activite null par la valeur 0

In [54]:
nullable_secteur_activite = df_clients.loc[
    df_clients["Secteur_Activite"].isnull()
]
print(str(nullable_secteur_activite.shape[0]) + ' lignes vides avant modification')

419 lignes vides avant modification

In [55]:
df_clients.Secteur_Activite.fillna(0, inplace=True)

In [56]:
nullable_secteur_activite = df_clients.loc[
    df_clients["Secteur_Activite"].isnull()
]
print(str(nullable_secteur_activite.shape[0]) + ' lignes vides après modification')

0 lignes vides après modification

### Typer la colonne DateCreation en date

In [57]:
df_clients["Date_Creation"] = df_clients.Date_Creation.astype("datetime64[ns]")
df_clients.dtypes
df_clients

,Code_Client,Date_Creation,Secteur_Commercial,Secteur_Activite,CliNivSupp1,CliNivSupp2
0,00001,2012-04-10,1.0,DIVERS,NaN,NaN
1,00002,2011-02-11,40.0,N,G1047,G0021
2,00003,2012-12-20,0.0,DIVERS,NaN,NaN
3,00005,2011-02-11,70.0,FAB,NaN,NaN
4,00009,2011-02-11,40.0,N,G1079,G0052
...,...,...,...,...,...,...
10101,G1135,2017-03-27,91.0,0,G0070,NaN
10102,G1136,2017-01-06,91.0,0,G0014,NaN
10103,G1137,2020-05-13,91.0,N,NaN,NaN
10104,G1138,2021-02-23,NaN,0,G0002,NaN
10105,G1139,2021-08-06,NaN,0,G0071,NaN

### Secteur Commercial -> On part du principe que non renseigné = 0

In [58]:
nullable_secteur_commercial = df_clients.loc[
    df_clients["Secteur_Commercial"].isnull()
]
print(str(nullable_secteur_commercial.shape[0]) + ' lignes vides avant modification')

3 lignes vides avant modification

In [59]:
df_clients.Secteur_Commercial.fillna(0, inplace=True)

In [60]:
nullable_secteur_commercial = df_clients.loc[
    df_clients["Secteur_Commercial"].isnull()
]
print(str(nullable_secteur_commercial.shape[0]) + ' lignes vides après modification')

0 lignes vides après modification

### Typer la colonne Secteur_Commercial en int64

In [61]:
df_clients["Secteur_Commercial"] = df_clients.Secteur_Commercial.astype("int64")
df_clients.dtypes
df_clients

,Code_Client,Date_Creation,Secteur_Commercial,Secteur_Activite,CliNivSupp1,CliNivSupp2
0,00001,2012-04-10,1,DIVERS,NaN,NaN
1,00002,2011-02-11,40,N,G1047,G0021
2,00003,2012-12-20,0,DIVERS,NaN,NaN
3,00005,2011-02-11,70,FAB,NaN,NaN
4,00009,2011-02-11,40,N,G1079,G0052
...,...,...,...,...,...,...
10101,G1135,2017-03-27,91,0,G0070,NaN
10102,G1136,2017-01-06,91,0,G0014,NaN
10103,G1137,2020-05-13,91,N,NaN,NaN
10104,G1138,2021-02-23,0,0,G0002,NaN
10105,G1139,2021-08-06,0,0,G0071,NaN

### Retirer colonne ClivNivSupp1 & ClivNivSupp2

In [62]:
to_drop = [
    'CliNivSupp1',
    'CliNivSupp2'
]
df_clients.drop(to_drop, inplace=True, axis=1)

In [63]:
df_clients

      Code_Client Date_Creation  Secteur_Commercial Secteur_Activite
0           00001    2012-04-10                   1           DIVERS
1           00002    2011-02-11                  40                N
2           00003    2012-12-20                   0           DIVERS
3           00005    2011-02-11                  70              FAB
4           00009    2011-02-11                  40                N
...           ...           ...                 ...              ...
10101       G1135    2017-03-27                  91                0
10102       G1136    2017-01-06                  91                0
10103       G1137    2020-05-13                  91                N
10104       G1138    2021-02-23                   0                0
10105       G1139    2021-08-06                   0                0

[10106 rows x 4 columns]

## Sauvegarde du dataframe dans un fichier

In [64]:
filename_data_clients_save = "client_cleaned.csv"

In [65]:
path_cleaned = "./data/cleaned/"

In [66]:
df_clients.to_csv(
    os.path.join(path_cleaned, filename_data_clients_save),
    sep=";",
    index=False
)